<section class="main-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay-->
                    <div class="overlay-style-one"></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="border-title">Metalúrgica Brillocinc LTDA</div></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="10"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Más de 40 años entregando excelencia en <br>servicio de cincado electroestático</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="125"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">VIEW SOLUTIONS</a>&ensp;&ensp; @Html.ActionLink("CONTACTO", "Contacto", "Homa", new { @class = "theme-btn btn-style-two" })</div>


                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_2.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay Style Two-->
                    <div class="overlay-style-two"></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="-80"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="subtitle-text">Líneas de cincado</div></div>

                    <div class="tp-caption text-right sft sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Disponemos de dos línes automáticas:<br>bombos para piezas pequeñas y colgado</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="100"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">contact us</a></div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_3.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay Style Three-->
                    <div class="overlay-style-three"></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="subtitle-text">Calidad</div></div>

                    <div class="tp-caption text-center sft sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Ofrecemos productos y servicios para la industria alimentaria<br> con estándares de calidad internacional</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="90"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">contact us</a></div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<!--service-style-one-->
<section class="service-style-one">
    <div class="auto-container">
        <div class="row clearfix">

            <!--left-column-->
            <div class="column left-column col-md-4 col-sm-12">
                <!--box-column-->
                <div class="box-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <h2>Ofrecemos</h2>
                    <div class="text">Un servicio de calidad comprobada y el respaldo de años de experiencia en procesos de cincado industrial.</div>
                    <a class="more" href="services-details.html">VIEW MORE <span class="fa fa-long-arrow-right"></span></a>
                </div>
            </div>

            <div class="col-md-8 col-sm-12">

                <div class="row clearfix">

                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Calidad</h3>
                            <div class="text">Brindamos servicios de cincado electrolítico ácido (HCl) logrando espesores de hasta 15 micras.</div>

                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-hand-paper-o fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Seguridad</h3>
                            <div class="text">Nuestros procesos de acabo son en base a cromatizados trivalentes lo que les permite a nuestros clientes exportar sus productos a países con altos estándares de calidad.</div>

                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-thermometer-quarter fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Control</h3>
                            <div class="text">Al ser líneas totalmente automáticas, los parámetros de cincado pueden ser controlados a cabalidad pudiendo satisfacer las necesidades de los más diversos clientes.</div>

                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Equipo</h3>
                            <div class="text">Contamos con profesionales de vasta experiencia y dedicación que garantizan el correcto manejo de los procesos involucrados.</div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@*<!--call-to-action-->
<section class="call-to-action" style="background-image:url(images/background/call-toaction-one-bg.png);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>“ Innovation takes Practice for the Superior Level of Excellence ”</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                <a class="quote-btn btn-style-three theme-btn" href="#">Get a quote</a>
            </div>
        </div>
    </div>
</section>

<!--services-column-two-->
<section class="services-column-two">
    <div class="auto-container">

        <!--Section Title-->
        <div class="sec-title-one">
            <h2>Our Featured Services</h2>
            <div class="text">The year is and launches the last of americas deep space probes and we dreams.</div>
        </div>
        <div class="row clearfix">

            <!--Service block two-->
            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-1.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="flaticon-transport"></span> Agricultural processing</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-2.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="flaticon-database"></span> Chemical Research</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="fa  fa-support"></span> Metal Engineering</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-4.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="flaticon-people"></span> Mechanical Process</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-5.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="flaticon-pumpjack-1"></span> Petroleum & Gas</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

            <div class="service-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image"><a href="services-details.html"><img src="images/resource/service-image-6.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <div class="outer-link">
                            <a href="services-details.html" class="theme-btn service-title"><span class="flaticon-technology-2"></span> Power & Energy</a>
                        </div>
                        <div class="text">The way we all became the Brady Bunch and you know where you were then be to end.</div>
                        <div class="link-box"><a href="services-details.html" class="theme-btn normal-link">VIEW MORE <span class="fa fa-long-arrow-right"></span></a></div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>

<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">

        <!--Carousel Outer-->
        <div class="carousel-outer">
            <div class="gallery-carousel">

                <!--Gallery Item-->
                <div class="gallery-item">
                    <div class="inner-box">

                        <div class="image-box"><img src="images/gallery/1.jpg" alt=""></div>

                        <div class="overlay-box">
                            <div class="inner">
                                <div class="content">
                                    <h3><a href="#">Metal Molding</a></h3>
                                    <div class="text">The way we all became the Brady were then be to end.</div>
                                    <a href="portfolio-details.html" class="view-more">View more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Gallery Item-->
                <div class="gallery-item">
                    <div class="inner-box">

                        <div class="image-box"><img src="images/gallery/2.jpg" alt=""></div>

                        <div class="overlay-box">
                            <div class="inner">
                                <div class="content">
                                    <h3><a href="#">Metal Molding</a></h3>
                                    <div class="text">The way we all became the Brady were then be to end.</div>
                                    <a href="portfolio-details.html" class="view-more">View more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Gallery Item-->
                <div class="gallery-item">
                    <div class="inner-box">

                        <div class="image-box"><img src="images/gallery/3.jpg" alt=""></div>

                        <div class="overlay-box">
                            <div class="inner">
                                <div class="content">
                                    <h3><a href="#">Metal Molding</a></h3>
                                    <div class="text">The way we all became the Brady were then be to end.</div>
                                    <a href="portfolio-details.html" class="view-more">View more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Gallery Item-->
                <div class="gallery-item">
                    <div class="inner-box">

                        <div class="image-box"><img src="images/gallery/4.jpg" alt=""></div>

                        <div class="overlay-box">
                            <div class="inner">
                                <div class="content">
                                    <h3><a href="#">Metal Molding</a></h3>
                                    <div class="text">The way we all became the Brady were then be to end.</div>
                                    <a href="portfolio-details.html" class="view-more">View more <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div><!--End Carousel Outer-->
    </div>
</section>

<!--Default Section-->
<section class="default-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Text Column-->
            <div class="column text-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">

                    <div class="sec-title-one">
                        <h2>About us</h2>
                    </div>

                    <div class="text">T year is and launches the last of that americas deep 	space to be probes and we will do it our our way make all come true it our way yes our way the year is and launches the last of americas deep space probes.</div>

                    <!--featured-gallery-->
                    <div class="featured-gallery">
                        <div class="row clearfix">

                            <!--featured-image-box-->
                            <div class="featured-image-box col-md-12 col-sm-12 col-xs-12">
                                <figure class="image">
                                    <a class="lightbox-image" href="images/resource/featured-image-1.jpg" title="Image Caption Here"><img src="images/resource/featured-image-1.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <!--featured-image-box-->
                            <div class="featured-image-box col-md-6 col-sm-6 col-xs-12">
                                <figure class="image">
                                    <a class="lightbox-image" href="images/resource/featured-image-2.jpg" title="Image Caption Here"><img src="images/resource/featured-image-2.jpg" alt="" /></a>
                                </figure>
                            </div>

                            <!--featured-image-box-->
                            <div class="featured-image-box col-md-6 col-sm-6 col-xs-12">
                                <figure class="image">
                                    <a class="lightbox-image" href="images/resource/featured-image-3.jpg" title="Image Caption Here"><img src="images/resource/featured-image-3.jpg" alt="" /></a>
                                </figure>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!--Accordions Column-->
            <div class="column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">

                    <div class="sec-title-one">
                        <h2>Frequently Asked Questions</h2>
                    </div>

                    <!--Accordion Box-->
                    <ul class="accordion-box">

                        <!--Block-->
                        <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Why do you license technologies?</div>
                            <div class="acc-content current">
                                <div class="content clearfix">
                                    <figure class="image"><img src="images/resource/featured-thumb-1.jpg" alt=""></figure>
                                    <p>The year is and launches the last of that americas deep space probes and we will do it our our way make all come true these days are all Happy and free these days are all to share.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> Do you license to startup companies?</div>
                            <div class="acc-content">
                                <div class="content clearfix">
                                    <figure class="image"><img src="images/resource/featured-thumb-1.jpg" alt=""></figure>
                                    <p>The year is and launches the last of that americas deep space probes and we will do it our our way make all come true these days are all Happy and free these days are all to share.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> Do you advise or fund companies?</div>
                            <div class="acc-content">
                                <div class="content clearfix">
                                    <figure class="image"><img src="images/resource/featured-thumb-1.jpg" alt=""></figure>
                                    <p>The year is and launches the last of that americas deep space probes and we will do it our our way make all come true these days are all Happy and free these days are all to share.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> How do we manage and monitor the license agreement?</div>
                            <div class="acc-content">
                                <div class="content clearfix">
                                    <figure class="image"><img src="images/resource/featured-thumb-1.jpg" alt=""></figure>
                                    <p>The year is and launches the last of that americas deep space probes and we will do it our our way make all come true these days are all Happy and free these days are all to share.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> Where can I find more information?</div>
                            <div class="acc-content">
                                <div class="content clearfix">
                                    <figure class="image"><img src="images/resource/featured-thumb-1.jpg" alt=""></figure>
                                    <p>The year is and launches the last of that americas deep space probes and we will do it our our way make all come true these days are all Happy and free these days are all to share.</p>
                                </div>
                            </div>
                        </li>

                    </ul><!--End Accordion Box-->
                </div>
            </div>

        </div>
    </div>
</section>

<!--testimonial-section-->
<section class="testimonial-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--testimonial-column-->
            <div class="testimonial-column col-md-8 col-sm-12 col-xs-12">
                <div class="sec-title-one">
                    <h2>What People Says</h2>
                </div>

                <!--Carousel Outer-->
                <div class="carousel-outer">
                    <div class="single-item-carousel">

                        <!--testimonial box-->
                        <div class="testimonial-box">
                            <div class="text"><span class="fa fa-quote-left"></span>The way we all became the Brady Bunch and you know where you were then be to end the mate was a mighty sailing man the skipper brave and sure five passengers set sail that day for a three hour tour a three hour tour why do we always come here the skipper brave and sure five passengers.<span class="fa fa-quote-right"></span></div>
                            <!--author-info-->
                            <div class="author-info">
                                <figure class="image">
                                    <img src="images/resource/author-thumb-1.jpg" alt="" />
                                </figure>
                                <h3>George Mc Mahon</h3>
                                <div class="designation">Co-Founder</div>

                            </div>
                        </div>

                        <div class="testimonial-box">
                            <div class="text"><span class="fa fa-quote-left"></span>The way we all became the Brady Bunch and you know where you were then be to end the mate was a mighty sailing man the skipper brave and sure five passengers set sail that day for a three hour tour a three hour tour why do we always come here the skipper brave and sure five passengers.<span class="fa fa-quote-right"></span></div>
                            <div class="author-info">
                                <figure class="image">
                                    <img src="images/resource/author-thumb-1.jpg" alt="" />
                                </figure>
                                <h3>George Mc Mahon</h3>
                                <div class="designation">Co-Founder</div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="fact-counter-column col-md-4 col-sm-12 col-xs-12">
                <div class="fact-counter">
                    <div class="clearfix">

                        <!--Column-->
                        <div class="column counter-column wow fadeIn" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="count-outer">
                                    <span class="icon-box"><span class="fa fa-star-o"></span></span>
                                    <span class="count-text" data-speed="1500" data-stop="30">0</span>
                                </div>
                                <h4 class="counter-title">Years of Excellence</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="count-outer">
                                    <span class="icon-box"><span class="flaticon-museum"></span></span>
                                    <span class="count-text" data-speed="1500" data-stop="53">0</span>
                                </div>
                                <h4 class="counter-title">Global Branches</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="count-outer">
                                    <span class="icon-box"><span class="flaticon-medal"></span></span>
                                    <span class="count-text" data-speed="1500" data-stop="48">0</span>
                                </div>
                                <h4 class="counter-title">Promoted Awards</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Newsletter Style One-->
<div class="newsletter-style-one" style="background-image:url(images/background/newsletter-bg.png);">
    <div class="auto-container">
        <div class="sec-title-two">
            <h2>Signup for our Newsletter</h2>
        </div>

        <div class="newsletter-form">
            <form method="post" action="contact.html">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="text" value="" placeholder="Your Name" required>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Your Email" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group button-group">
                            <button type="submit" class="btn-style-three theme-btn">SUBSCRIBE</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!--Main Footer-->
<footer class="main-footer">

    <!--Footer Upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Two 4th column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <div class="col-lg-7 col-sm-6 col-xs-12 column">
                            <div class="footer-widget logo-widget">
                                <div class="logo"><a href="index.html"><img src="images/logo-2.png" class="img-responsive" alt=""></a></div>
                                <div class="text">The year is and launches the last of that americas deep space probes and we will our our way make all come true.</div>

                                <ul class="contact-info">
                                    <li><span class="icon flaticon-pin"></span> 3A07, Serif St, Orleans, USA-170A</li>
                                    <li><span class="icon flaticon-technology"></span> +1 - 000 - 8990 - 1560</li>
                                    <li><span class="icon flaticon-mail-2"></span> support@domain.com</li>
                                </ul>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="col-lg-5 col-sm-6 col-xs-12 column">
                            <div class="sec-title-three">
                                <h2>Usefull Links</h2>
                            </div>
                            <div class="footer-widget links-widget">
                                <ul>
                                    <li><a href="#">Agriculture Processing</a></li>
                                    <li><a href="#">Chemical Research</a></li>
                                    <li><a href="#">Metal Engineering</a></li>
                                    <li><a href="#">Mechanical Engineering</a></li>
                                    <li><a href="#">Petroleum & Gas</a></li>
                                    <li><a href="#">Power & Energy</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->
                <!--Two 4th column-->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="col-lg-6 col-sm-6 col-xs-12 column">
                            <div class="footer-widget twitter-widget">
                                <div class="sec-title-three">
                                    <h2>Twitter Feed</h2>
                                </div>
                                <div class="widget-content">
                                    <div class="feed">
                                        <div class="text"><span class="icon fa fa-twitter"></span>  <h4 class="author-title">Roffell</h4>this year is and launches the last of that deep : paragraph.co.in</div>
                                        <span class="month">about a month</span>
                                    </div>
                                    <div class="feed">
                                        <div class="text"><span class="icon fa fa-twitter"></span>  <h4 class="author-title">Markel</h4>this year is and launches the last of that deep time to light the lights poster :  abstract.co.in</div>
                                        <span class="month">about 5 min ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="col-md-6 col-sm-6 col-xs-12 column">
                            <div class="footer-widget gallery-widget">
                                <div class="sec-title-three">
                                    <h2>Flickr Photos</h2>
                                </div>
                                <div class="clearfix">
                                    <figure class="image"><a href="images/resource/footer-gallery-1.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-1.jpg" alt=""></a></figure>
                                    <figure class="image"><a href="images/resource/footer-gallery-2.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-2.jpg" alt=""></a></figure>
                                    <figure class="image"><a href="images/resource/footer-gallery-3.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-3.jpg" alt=""></a></figure>
                                    <figure class="image"><a href="images/resource/footer-gallery-4.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-4.jpg" alt=""></a></figure>
                                    <figure class="image"><a href="images/resource/footer-gallery-5.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-5.jpg" alt=""></a></figure>
                                    <figure class="image"><a href="images/resource/footer-gallery-6.jpg" class="lightbox-image" title="Caption Here"><img src="images/resource/footer-gallery-6.jpg" alt=""></a></figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!--Two 4th column End-->

            </div>

        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Copyright-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">Copyrights &copy; 2016 Brighton. All Rights Reserved.</div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="footer-bottom-social">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fa fa-flickr"></span></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</footer>*@