<section class="main-slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_1.jpg" alt="fondo-slider-1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay-->
                    <div class="overlay-style-one"></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="border-title">METALÚRGICA BRILLOCINC LTDA</div></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="10"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Más de 40 años entregando excelencia en <br>servicio de zincado electrolítico</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="125"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">@Html.ActionLink("CONTACTO", "Contacto", "Home", null, new { @class = "theme-btn btn-style-one" })</div>
                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_3.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_3.jpg" alt="fondo-slider-3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay Style Two-->
                    <div class="overlay-style-two"></div>
                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="-80"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="subtitle-text">Líneas de zincado</div></div>

                    <div class="tp-caption text-right sft sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Disponemos de dos línes automáticas de zincado:<br>bombos para piezas pequeñas y estático</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="right" data-hoffset="-15"
                         data-y="center" data-voffset="100"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">@Html.ActionLink("CONTACTO", "Contacto", "Home", null, new { @class = "theme-btn btn-style-one" })</div>
                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/_4.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/_4.jpg" alt="fondo-slider-4" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Overlay Style Three-->
                    <div class="overlay-style-three"></div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><div class="subtitle-text">Alambre Electrosoldado</div></div>

                    <div class="tp-caption text-center sft sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>Expertos en la fabricación de productos de alambre<br>para refrigeración y construcción</h2></div>

                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="90"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">@Html.ActionLink("CONTACTO", "Contacto", "Home", null, new { @class = "theme-btn btn-style-one" })</div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<!--service-style-one-->
<section class="service-style-one">
    <div class="auto-container">
        <div class="row clearfix">
            <!--left-column-->
            <div class="column left-column col-md-4 col-sm-12">
                <!--box-column-->
                <div class="box-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <h2>Ofrecemos</h2>
                    <div class="text">Metalúrgica BRILLOCINC brinda un servicio de calidad comprobada y el respaldo de años de experiencia en procesos de zincado industrial irizado trivalente tanto en zincado amarrillo como en zincado blanco.</div>
                    <a class="more" href="@Url.Action("CincadoBombo", "Home")">VER MAS <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="row clearfix">
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-check-square-o fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Calidad</h3>
                            <div class="text">En Metalúrgica BRILLOCINC Brindamos servicios de zincado electrolítico bajo la norma ASTMB 633 para distintos espesores.</div>
                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-hand-paper-o fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Seguridad</h3>
                            <div class="text">Nuestros procesos de acabado en zincado son en base a cromatizados trivalentes lo que les permite a nuestros clientes exportar sus productos a países con altos estándares de calidad.</div>
                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-thermometer-quarter fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Control</h3>
                            <div class="text">Al ser líneas totalmente automáticas, los parámetros de zincado pueden ser controlados a cabalidad pudiendo satisfacer las necesidades de los más diversos clientes.</div>
                        </div>
                    </div>
                    <!--service-block-->
                    <div class="service-block col-md-6 col-sm-6 col-sm-12">
                        <div class="inner-box">
                            <!--icon-box-->
                            <div class="icon-box">
                                <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                            </div>
                            <h3>Equipo</h3>
                            <div class="text">En Metalúrgica BRILLOCINC contamos con profesionales de vasta experiencia y dedicación que garantizan el correcto manejo de los procesos involucrados tanto en zincado como en las demás líneas.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <h1>METALÚRGICA BRILLOCINC LTDA</h1>
    </div>
</div>


